/* =====1st video===== */
.offer-sec-container {
    z-index: 1;
    position: relative;
}

.offer-sec-content {
    position: sticky;
    position: -webkit-sticky;
   
}


.offer-sec-container:nth-of-type(1) {
    height: 300px;
}
.offer-sec-container:nth-of-type(2) {
    height: 200px;
}
.offer-sec-container:nth-of-type(3) {
    height: 220px;
}
.offer-sec-container:nth-of-type(4) {
    height: 500px;
}
.offer-sec-container:nth-of-type(5) {
    height: 100px;
}
.offer-sec-container:nth-of-type(6) {
    height: 300px;
}


.orevealUp {
	opacity: 0;
	visibility: hidden;
  }