
.all_models:hover .model{

transition: 0.5s ease-in-out;
}
.all_models .model:hover{

transform: scale(1.5);
z-index: 10;

}
.shoeText{
    display: none;
}
.shoeModel:hover + .shoeText{
    display: block;
}
.planeText{
    display: none;
}
.planeModel:hover + .planeText{
    display: block;
}
.handText{
    display: none;
}
.handModel:hover + .handText{
    display: block;
}
.mapText{
    display: none;

}
.mapModel:hover + .mapText{
    display: block;
}