.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursor1 {
  background-color: rgb(255, 255, 255);
  transform: scale(4);
}

.section1 {
  min-height: 100vh;
  cursor: none;
}

/* wave============== */

svg {
  height: 100%;
  z-index: -1;
}

.wave {
    transform: scale(5.2, 1); /* Adjust the scale values as needed */
    animation: wave 2.5s linear infinite;
  }

  @keyframes wave {
    to {
      transform: translate(-40%, 0%) scale(5.2, 1); /* Adjust the translate and scale values */
    }
  }