
#bound-one {
	background: #d0d8db;
}

.scroll-bound {
	height: 300vh;
	
	.content {
		height: 100vh;
		width: 100%;
		position: sticky;
		top:0;
        padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	video {
		width: 100%;
	}
}